<!DOCTYPE html>
<html>
  <head>
    <title>Item</title>
    <link rel="stylesheet" href="/common_header.css" title="text/css">
    <link rel="stylesheet" href="/secondary_header.css" title="text/css">
    <link rel="stylesheet" href="/dashboard.css" title="text/css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Item Count', 'Price'],
          <% @items.each do |item| %>
            <% if (item.unit_price.to_f/100) > 25000 %>
              <% next %>
            <% else %>
              <%= [item.merchant.items.count, ((item.unit_price.to_f/100))] %>,
            <% end %>
          <% end %>
        ]);

        var options = {
          title: 'Item Count and Price',
          hAxis: {title: 'Item Count', minValue: 0, maxValue: 30},
          vAxis: {title: 'Price', minValue: 0, maxValue: 25000},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <header>
      <h3>
        <form>
          <a href='/' class="homepage-link">Little Shop</a>
          <a href="/invoices">Invoices</a>
          <a href="/items">Items</a>
          <a href="/merchants">Merchants</a>
        </form>
      </h3>
    </header>
    <div class="secondary-header">
      <h1>Items Dashboard</h1>
    </div>
    <div class="flex-container">
      <div id="item-count">
        <h4>Total Item Count</h4>
        <h6><%= @total_count_of_items %></h6>
      </div>
      <div id="item-avg-price">
        <h4>Avg Price Per Item</h4>
        <h6>$<%= '%.2f' % (@average_price_per_item.to_f/100) %></h6>
      </div>
      <div>
        <div id="item-age">
          <h4>Item by Age</h4>
          <h5>Newest</h5>
          <h2>Item:
            <div id="item">
              <a href='/items/<%= @most_recently_created_item.id %>'><%= @most_recently_created_item.name %></a>
            </div>
          </h2>
          <h5>Oldest</h5>
          <h2>Item:
            <div id="item">
              <a href='/items/<%= @oldest_item.id %>'><%= @oldest_item.name %></a>
            </div>
          </h2>
        </div>
      </div>
    </div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>

