<!DOCTYPE html>
<html>
  <head>
    <title>All Items</title>
    <link rel="stylesheet" href="item_main.css" title="text/css">
  </head>
  <body>
    <header>
    </header>
    <div class="secondary-header">
      <a href="/">Dashboard</a>
      <h1>Items</h1>
      <button type="button" formmethod="GET" formaction="/create-an-item">Create a New Item</button>
    </div>

    <table>
      <tr>
          <% @items.each_slice(@items.length/4) do |items| %>
            <div class="column">
              <% items.each do |item| %>
                <a href="#">
                  <img src='https://icdn4.digitaltrends.com/image/tinder-dating-app-couple-laughing-smart-phone-embarass-bryson-and-kate-loling-at-u-720x720.jpg?ver=1.jpg' alt="Guy looks at phone with girl">
                </a>
                <div class='name'><%= item.name %></div>
                <div class='price'>$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
              <% end %>
            </div>
          <% end %>
      </tr>
    </table>

    <!-- <div class="gallery"> -->
      <!-- <div class="row">
        <% @items.each_slice(@items.length/4) do |items| %>
          <div class="column">
            <% items.each do |item| %>
              <a href="#">
                <img src='https://icdn4.digitaltrends.com/image/tinder-dating-app-couple-laughing-smart-phone-embarass-bryson-and-kate-loling-at-u-720x720.jpg?ver=1.jpg' alt="Steve loves chairs">
              </a>
              <div class='name'><%= item.name %></div>
              <div class='price'>$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
            <% end %>
          </div>
        <% end %>
      </div> -->
        <!-- <div class="column">
          <% @items.first(@items.length/100).each do |item| %>
              <a href="#">
                <img src='https://icdn4.digitaltrends.com/image/tinder-dating-app-couple-laughing-smart-phone-embarass-bryson-and-kate-loling-at-u-720x720.jpg?ver=1.jpg' alt="Steve loves chairs">
              </a>
              <div class='name'><%= item.name %></div>
              <div class='price'>$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
          <% end %>
        </div>
        <div class="column">
          <% @items.first(@items.length/100).each do |item| %>
              <a href="#">
                <img src='https://icdn4.digitaltrends.com/image/tinder-dating-app-couple-laughing-smart-phone-embarass-bryson-and-kate-loling-at-u-720x720.jpg?ver=1.jpg' alt="Steve loves chairs">
              </a>
              <div class='name'><%= item.name %></div>
              <div class='price'>$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
          <% end %>
        </div>
        <div class="column">
          <% @items.first(@items.length/100).each do |item| %>
              <a href="#">
                <img src='https://icdn4.digitaltrends.com/image/tinder-dating-app-couple-laughing-smart-phone-embarass-bryson-and-kate-loling-at-u-720x720.jpg?ver=1.jpg' alt="Steve loves chairs">
              </a>
              <div class='name'><%= item.name %></div>
              <div class='price'>$<%= '%.2f' % (item.unit_price.to_f/100) %></div>
          <% end %>
        </div>
      </div> -->
    <!-- </div> -->
  </body>
</html>
