<!DOCTYPE html>
<html>
  <head>
    <title>Create New Item</title>
    <link rel="stylesheet" href="/common_header.css" title="text/css">
    <link rel="stylesheet" href="/secondary_header.css" title="text/css">
    <link rel="stylesheet" href="/create_item.css" title="text/css">
  </head>
  <body>
    <header>
      <h3>
        <form>
          <a href='/' class="homepage-link">Little Shop</a>
          <a href="/invoices">Invoices</a>
          <a href="/items">Items</a>
          <a href="/merchants">Merchants</a>
        </form>
      </h3>
    </header>
    <div class="secondary-header">
      <h1>Items</h1>
    </div>
    <div class="box">
      <form class="new-item" action="/items/update?id=<%= @item.id %>" method="POST">
        <p>Merchant</p>
        <select name="item[merchant_id]">
          <% @merchants.each do |merchant| %>
            <% if merchant == @merchant %>
              <option selected="selected" value="<%= merchant.merchant_id %>"><%= merchant.name %></option>
            <% else %>
              <option value="<%= merchant.merchant_id %>"><%= merchant.name %></option>
            <% end %>
          <% end %>
        </select>
        <p>Title</p>
        <input type="text" name="item[name]" placeholder="<%= @item.name %>">
        <p>Description</p>
        <input type="text" name="item[description]" placeholder="<%= @item.description %>">
        <p>Price</p>
        <input type="number" name="item[unit_price]" placeholder="<%= '%.2f' % (@item.unit_price.to_f/100) %>">
        <p>Image URL</p>
        <input type="text" name="item[image]" placeholder="<%= @item.image %>">
        <br>
        <br>
        <button type="submit" id="create-button">Edit Item</button>
      </form>
      <form>
        <button formaction="/items" type="submit" id="cancel-button">Cancel</button>
      </form>
    </div>
  </body>
</html>