<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
    <link rel="stylesheet" href="/common_header.css" title="text/css">
    <link rel="stylesheet" href="/secondary_header.css" title="text/css">
    <link rel="stylesheet" href="/dashboard.css" title="text/css">
  </head>
  <body>
    <header>
      <h3>
        <form>
          <a href='/' class="homepage-link">Little Shop</a>
          <a href="/invoices">Invoices</a>
          <a href="/items">Items</a>
          <a href="/merchants">Merchants</a>
        </form>
      </h3>
    </header>
    <div class="secondary-header">
      <h1>Invoice Dashboard</h1>
    </div>
    <div class="flex-container">
      <div id="item-count">
        <h4>Total Item Count</h4>
        <h6><%= @total_count_of_items %></h6>
      </div>
      <div id="item-avg-price">
        <h4>Avg Price Per Item</h4>
        <h6>$<%= '%.2f' % (@average_price_per_item.to_f/100) %></h6>
      </div>
      <div id="item-avg-price">
        <h4>Avg Price Per Item</h4>
        <h6>$<%= '%.2f' % (@average_price_per_item.to_f/100) %></h6>
      </div>
      <div id="item-avg-price">
        <h4>Avg Price Per Item</h4>
        <h6>$<%= '%.2f' % (@average_price_per_item.to_f/100) %></h6>
      </div>
      <div id="item-avg-price">
        <h4>Avg Price Per Item</h4>
        <h6>$<%= '%.2f' % (@average_price_per_item.to_f/100) %></h6>
      </div>
    </div>
  </body>
</html>
