<html>
  <head>
    <link rel="stylesheet" href="/common_header.css" title="text/css">
    <link rel="stylesheet" href="/secondary_header.css" title="text/css">
    <link rel="stylesheet" href="/update_invoice.css" title="text/css">
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>

    <div style="width:relative;height:100px;border:3px solid #000;background-color:rgb(110, 107, 106)">
      <center>
        <h1> <%= "Invoice: #{@invoice.id} - #{@invoice.status[0].upcase + @invoice.status[1..-1]}" %> </h1>
      </center>
    </div>
    <div class="box">
      <div class="inner-box">
        <form class="update-invoice" action="/invoices/<%= @invoice.id %>/edit" method="POST">
          <h1>Invoice</h1>
          <p>Merchant</p>
          <select name="merchant_id">
            <% @merchants.each do |merchant| %>
              <% if merchant == @invoice.merchant %>
                <option selected="selected" value="<%= merchant.id %>"><%= merchant.name %></option>
              <% else %>
                <option value="<%= merchant.id %>"><%= merchant.name %></option>
              <% end %>
            <% end %>
          </select>
          <p>Status</p>
          <select id="status-select" name="status">
            <% if @invoice.status == :returned %>
              <option value="pending"><%= "Pending" %></option>
              <option value="shipped"><%= "Shipped" %></option>
              <option selected="selected" value="returned"><%= "Returned"%></option>
            <% elsif @invoice.status == :shipped %>
              <option value="pending"><%= "Pending" %></option>
              <option selected="selected" value="shipped"><%= "Shipped" %></option>
              <option value="returned"><%= "Returned"%></option>
            <% else %>
              <option selected="selected" value="pending"><%= "Pending" %></option>
              <option value="shipped"><%= "Shipped" %></option>
              <option value="returned"><%= "Returned"%></option>
            <% end %>
          </select>
          <button type="submit" id="create-button">Update Invoice</button>
        </form>
        <form>
          <button formaction="/invoices" type="submit" id="cancel-button">Cancel</button>
        </form>
      </div>
      <table border= "5" style="width:100%">
        <tr>
          <th>Item Id</th>
          <th>Item Title</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr> 
        <% @invoice_items.each do |invoice_item| %>
          <tr>
            <td><%= invoice_item.item.id %></td>
            <td><%= invoice_item.item.name %></td>
            <td><%= invoice_item.quantity %></td>
            <td>$<%= '%.2f' % (invoice_item.item.unit_price.to_f/100) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>
