<html>
  <head>
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>

    <div class="edit-rectangle">
      <h1>Merchants Dashboard</h1>
    </div>
    <div class="flex-container">
      <div class="middle-box-dash">
        <h1 class="top-revenue" >Merchants with Most Items: <br>
          <%@merchant_with_most_item.each do |merchant|%>
        <a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a>
        <%end%><br></h1>
        <h1 class ="top-merchant">Merchant with Highest Price Item: <br>
        <a href="/merchants/<%=@highest_price_item.id%>"><%=@highest_price_item.name%></h1></a>
      </div>

      <div class="merchant-container-div">
        <% @merchant_info.each do |merchant|%>
          <div class="merchant-div">
            <h2 class="ind-merchant"><%=merchant.name%></h2>
            <h3>Item Count:</h3>
            <h4><%=merchant.item_count%></h4>
            <h3>Avg Item Price:</h3>
            <h4><%=merchant.avg_price%></h4>
            <h3>Total Cost of Items:</h3>
            <h4><%=merchant.total_cost%></h4>
          </div>
        <% end %>
      </div>
    </div>
      <br>
  </body>
</html>
