
<html>
  <head>
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>
    <div class="merchant-middle-header">
      <a class="dashboard" href='/merchants-dashboard'>Dashboard</a>
      <h1>Merchants</h1>
        <form>
          <center>
          <button class="creater-button" formaction="/merchants/new" type="submit">Create A New Merchant</button>
        </center>
        </form>
    </div>

    <center>
      <div class="flex-container">
        <% counter = 0 %>
        <% @merchants.each do |merchant| %>
        <% counter += 1 %>
          <% if counter.odd?%>
            <div style="background-color: grey;" class='individual-merchant-buttons'>
              <form action="/merchants/<%=merchant.id%>/delete" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <a href='/merchants/<%=merchant.id%>' style="float:left;"><%= merchant.name%></a>
                <button style="float:right;" type="submit" class='deletebutton'>
                  Delete</button>
              </form>
              <a href='/merchants/<%=merchant.id%>/edit'><button class='edit-button-in-merchant-index'>
                Edit</button></a>
            </div>
            <% else %>
              <div class='individual-merchant-buttons'>
              <form action="/merchants/<%=merchant.id%>/delete" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <a href='/merchants/<%=merchant.id%>' style="float:left;"><%= merchant.name%></a>
                <button style="float:right;" type="submit" class='deletebutton'>
                  Delete</button>
              </form>
              <a href='/merchants/<%=merchant.id%>/edit'><button class='edit-button-in-merchant-index'>
                Edit</button></a>
            </div>
          <% end %>
        <% end %>
      </div>
    </center>
  </body>
</html>
