<html>
  <head>
    <%=erb(:'partials/static_links')%>
  </head>

  <body>
    <%=erb(:'partials/nav_bar')  %>

    <div class="second-box-individual-merchant">
      <center>
        <h1>
          <%= @merchant.name %>
        </h1>
        <button class='individualedit' onclick="location.href='/merchants/<%=@merchant.id%>/edit'" type="button">Edit</button>
        <form action="/merchants/<%=@merchant.id%>/delete" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class='individualdelete' type="submit">Delete</button>
        </form>
      </center>
    </div>

    <div>
      <div class="merchant-container-div">
        <% @items.each do |item| %>
          <div class="merchant-dive" >
            <a href="/items/<%=item.id%>"class="ind-merchant"><h2><%=item.name%></h2></a>
            <div class="item-price-container" >
              <h3>$<%=item.unit_price%></h3>
            </div>
            </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
