<link rel="stylesheet" href="/merchant.css" title="CSS" type="text/css" />

<div style="width:relative;height:40px;border:3px solid #000;">
  <h3>
    <a href='/'>Little Shop</a>
    <button style="float:right;" class = "invoices" onclick="location.href='/invoices'" type="button"> Invoices</button>
    <button style="float:right;" class ="items" onclick="location.href='/items'" type="button"> Items</button>
    <button style="float:right;" class="merchants" onclick="location.href='/merchants'" type="button"> Merchants</button>
  </h3>
</div>

<div style="width:relative;height:100px;border:3px solid #000;">
  <center>
    <h1> <%= @merchant.name %> </h1>
    <button class = 'editbutton'onclick="location.href='/merchants/<%=@merchant.id%>/edit'" type="button"> Edit</button>
    <button class = 'deletebutton'onclick="location.href='/merchants/<%=@merchant.id%>/delete'" type="button" formmethod="DELETE"> Delete</button>
  </center>
</div>
<ul>
  <li>Merchant name = <%= @merchant.name %></li>
  <li>Merchant id = <%= @merchant.merchant_id %></li>
  <li>Merchant created_at = <%= @merchant.created_at %></li>
  <li>Merchant updated_at = <%= @merchant.updated_at %></li>
</ul>
